@model biblioteca.Models.Alert

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="issueDate" class="control-label"></label>
                <input asp-for="issueDate" class="form-control" />
                <span asp-validation-for="issueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookName" class="control-label"></label>
                <input asp-for="bookName" class="form-control" />
                <span asp-validation-for="bookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="returnDate" class="control-label"></label>
                <input asp-for="returnDate" class="form-control" />
                <span asp-validation-for="returnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fine" class="control-label"></label>
                <input asp-for="fine" class="form-control" />
                <span asp-validation-for="fine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
